@font-face {
  font-family: "Manrope";
  src: url("Manrope-Bold.woff2") format("woff2"),
    url("Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("Manrope-Regular.woff2") format("woff2"),
    url("Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
